* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Lato-Light";
  src: url("./fonts/Lato-Light.woff") format("woff");
  src: url("./fonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./fonts/Lato-Regular.woff") format("woff");
  src: url("./fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato-Semibold";
  src: url("./fonts/Lato-Semibold.woff") format("woff");
  src: url("./fonts/Lato-Semibold.woff2") format("woff2");
}

body {
  bacground-color: #111111;
  font-family: 'Commissioner', sans-serif;
  background-color: #E5E5E5;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.navbar {
  background-color: #fff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 20px;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 739px;
  margin: 0;
  padding: 0;
}

.navbar-menu__item {
  list-style: none;
  text-transform: uppercase;
  font-family: Commissioner, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.75;
}

.navbar-menu__link {
  color: inherit;
  text-decoration: none;
}

.language {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-description {
  font-weight: 300;
  margin-right: 13px;
}

.language-name {
  font-weight: normal;
  margin-right: 8px;
}

.language-button {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 418px;
}

.contacts-number-2 {
  width: 137px;
  margin-right: 15px;
}

.logo {
  height: 60px;
}

.logo-image {
  width: 100%;
}

.articles {
  position: relative;
  z-index: 0;
}

.articles-container {
  width: 100%;
  height: 650px;
}

.articles-slide {
  padding-top: 185px;
  padding-left: 375px;
}

.articles-image {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  max-width: 100%;
  height: 100%;
}

.articles-title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.01em;
  opacity: 0.9;
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 20px;
}

.articles-description {
  margin-bottom: 50px;
  max-width: 500px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

.articles-button {
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  width: 200px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #DEC377;
}

.slider-button {
  width: 10px;
  height: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  z-index: 1;
  position: absolute;
  bottom: 20%;
}

.slider-button-next {
  left: 460px;
  background-image: url(../img/articles/arrow-right.svg);
  background-repeat: no-repeat;
}

.slider-button-prev {
  left: 400px;
  background-image: url(../img/articles/arrow-left.svg);
  background-repeat: no-repeat;
}

.logo {
  width: 231px;
}

.advantages {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  z-index: 10;
}

.advantages-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-card {
  width: 270px;
  height: 285px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages-image {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  margin-bottom: 25px;
}

.advantages-description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.75;
  width: 230px;
  height: 50px;
  text-align: center;
  margin: auto;
}

.introduction-text {
  position: relative;
  background-color: #fff;
  padding: 50px 70px 60px;
}

.introduction-title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  opacity: 0.9;
  max-width: 539px;
  margin: 0;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}

.introduction-paragraph {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  max-width: 425px;
  max-height: 470px;
}

.introduction-image {
  position: absolute;
  right: 0;
  top: 0;
}

.directions {
  margin-top: 100px;
}

.directions-title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
  margin-top: 0;
  margin-bottom: 35px;
}

.directions-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions-card {
  width: 370px;
  height: 140px;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 25px 15px 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
  max-height: 90px;
}

.directions-card-name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.9;
}

.directions-card-link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.directions-right {
  overflow: visible;
}

.directions-image {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.directions-button {
  margin-top: 10px;
  width: 200px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #DEC377;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.directions-description {
  margin-top: 100px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.directions-description-title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
}

.directions-description-paragraph {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.08em;
  opacity: 0.8;
  max-width: 770px;
}
