* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Lato-Light";
  src: url("./fonts/Lato-Light.woff") format("woff");
  src: url("./fonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("./fonts/Lato-Regular.woff") format("woff");
  src: url("./fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato-Semibold";
  src: url("./fonts/Lato-Semibold.woff") format("woff");
  src: url("./fonts/Lato-Semibold.woff2") format("woff2");
}

body {
  font-family: 'Commissioner', sans-serif;
  background-color: #E5E5E5;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.error {
  color: red;
}

.img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  background-color: #fff;
}

.navbar-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

.navbar-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 20px;
}

.navbar-bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 739px;
  margin: 0;
  padding: 0;
}

.navbar-menu__item {
  list-style: none;
  text-transform: uppercase;
  font-family: Commissioner, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.75;
}

.navbar-menu__link {
  color: inherit;
  text-decoration: none;
}

.language {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language-description {
  font-weight: 300;
  margin-right: 13px;
}

.language-name {
  font-weight: normal;
  margin-right: 8px;
}

.language-button {
  width: 15px;
  height: 15px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.contacts {
  font-size: 14px;
  line-height: 20px;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 418px;
}

.contacts-number-2 {
  width: 137px;
  margin-right: 15px;
}

.logo {
  height: 60px;
  margin-right: 262px;
}

.logo-image {
  width: 100%;
}

.menu-button {
  display: none;
}

.articles {
  position: relative;
  z-index: 0;
}

.articles-container {
  width: 100%;
  height: 650px;
}

.articles-slide {
  padding-top: 185px;
}

.articles-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  max-width: 100%;
  height: 100%;
}

.articles-title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.01em;
  opacity: 0.9;
  max-width: 500px;
  margin-top: 0;
  margin-bottom: 20px;
}

.articles-description {
  margin-bottom: 50px;
  max-width: 500px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

.articles-button {
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  width: 200px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  background-color: #DEC377;
  text-transform: uppercase;
}

.slider-button {
  width: 10px;
  height: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  z-index: 1;
  position: absolute;
  bottom: 20%;
}

.slider-button-next {
  left: 460px;
  background-image: url(../img/articles/arrow-right.svg);
  background-repeat: no-repeat;
}

.slider-button-prev {
  left: 400px;
  background-image: url(../img/articles/arrow-left.svg);
  background-repeat: no-repeat;
}

.logo {
  width: 231px;
}

.advantages {
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
  z-index: 10;
}

.advantages-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages-card {
  width: 270px;
  height: 285px;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages-icon {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 30px;
  margin: auto;
  margin-bottom: 25px;
}

.advantages-description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  opacity: 0.75;
  width: 230px;
  height: 50px;
  text-align: center;
  margin: auto;
}

.introduction-text {
  position: relative;
  background-color: #fff;
  padding: 50px 70px 60px;
}

.introduction-title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  opacity: 0.9;
  max-width: 539px;
  margin: 0;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
}

.introduction-paragraph {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  max-width: 425px;
  max-height: 470px;
}

.introduction-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.directions {
  margin-top: 100px;
}

.directions-title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
  margin-top: 0;
  margin-bottom: 35px;
}

.directions-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions-card {
  width: 31%;
  height: 140px;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 25px 15px 25px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.directions-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
  max-height: 90px;
}

.directions-card-name {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.9;
}

.directions-card-link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  opacity: 0.5;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}

.directions-right {
  overflow: visible;
}

.directions-right {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.directions-button {
  margin-top: 10px;
  width: 200px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #DEC377;
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.directions-description {
  margin-top: 100px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.directions-description-title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
}

.directions-description-paragraph {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.08em;
  opacity: 0.8;
  max-width: 770px;
  margin: 0;
}

.gallery {
  background-color: #E5E5E5;
  height: 450px;
  position: relative;
}

.gallery-container {
  width: 1170px;
  height: 560px;
}

.gallery-button {
  position: absolute;
  z-index: 99;
  width: 17px;
  height: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  outline: none;
  border: none;
}

.gallery-button-prev {
  background-image: url(../img/articles/arrow-left.svg);
  background-repeat: no-repeat;
  left: 42px;
}

.gallery-button-next {
  background-image: url(../img/articles/arrow-right.svg);
  background-repeat: no-repeat;
  right: 42px;
}

.gallery-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews {
  background-color: #fff;
  padding-top: 210px;
  padding-bottom: 52px;
}

.reviews-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.reviews-title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
  margin-top: 0;
  margin-bottom: 35px;
}

.reviews-card {
  position: relative;
  max-width: 570px;
  background-color: #fff;
  padding: 140px 50px 65px 50px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews-image {
  position: absolute;
  left: 0;
  top: 0;
}

.reviews-profession {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.reviews-name {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #DEC377;
}

.reviews-text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.01em;
  opacity: 0.8;
  margin: 0;
}

.reviews-link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
}

.reviews-button {
  position: absolute;
  bottom: 0;
  right: 20px;
  z-index: 10;
  width: 10px;
  height: 18px;
  color: red;
  cursor: pointer;
}

.reviews-button-prev {
  background-image: url(../img/articles/arrow-left.svg);
  background-repeat: no-repeat;
  right: 70px;
}

.reviews-button-next {
  background-image: url(../img/articles/arrow-right.svg);
  background-repeat: no-repeat;
}

.reviews-button-all {
  width: 200px;
  height: 45px;
  color: #ffffff;
  background-color: #DEC377;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.reviews-pagination {
  position: absolute;
  bottom: -41px;
  right: 50%;
  color: #DEC377;
}

.partners {
  background-color: #fff;
  padding-bottom: 100px;
  padding-top: 52px;
}

.partners-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}

.partners-description {
  margin: 0;
  margin-right: 100px;
  max-width: 670px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

.partners-button {
  color: #DEC377;
  text-transform: uppercase;
  background-color: #fff;
  border: 3px solid #DEC377;
  border-radius: 3px;
  width: 200px;
  height: 45px;
}

.partners-image {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin-right: 60px;
}

.partners-image:hover {
  -webkit-filter: none;
          filter: none;
}

.stickers {
  padding-top: 80px;
}

.stickers-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stickers-card {
  padding: 40px 50px 0 50px;
  background-color: #fff;
  width: 570px;
  height: 305px;
  margin-bottom: 30px;
}

.stickers-card-2 {
  position: relative;
}

.stickers-card-3 {
  width: 100%;
  height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stickers-card-3 .stickers-title {
  width: 320px;
}

.stickers-card-3 .stickers-text {
  width: 720px;
}

.stickers-triangle {
  position: absolute;
  top: 0;
  right: 0;
}

.stickers-title {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 45px;
  opacity: 0.9;
}

.stickers-text {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

.pen {
  margin-top: 70px;
  margin-bottom: 100px;
}

.pen-image {
  width: 100%;
}

.services-title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
  margin-top: 0;
  margin-bottom: 35px;
}

.services-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-card {
  background-color: #fff;
  padding: 25px 30px 20px 100px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 140px;
  position: relative;
}

.services-card-1 {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
}

.services-card-1 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
  opacity: 0.4;
}

.services-card-2 {
  -ms-flex-preferred-size: 59%;
      flex-basis: 59%;
}

.services-card-2 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
  opacity: 0.4;
}

.services-card-3 {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.services-card-3 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
  opacity: 0.75;
}

.services-card-4 {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.services-card-4 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
  opacity: 0.75;
}

.services-card-5 {
  -ms-flex-preferred-size: 59%;
      flex-basis: 59%;
}

.services-card-5 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
}

.services-card-6 {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
}

.services-card-6 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
}

.services-card-7 {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.services-card-7 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
  opacity: 0.75;
}

.services-card-8 {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
}

.services-card-8 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
  opacity: 0.75;
}

.services-card-9 {
  -ms-flex-preferred-size: 39%;
      flex-basis: 39%;
}

.services-card-9 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
  opacity: 0.4;
}

.services-card-10 {
  -ms-flex-preferred-size: 59%;
      flex-basis: 59%;
}

.services-card-10 .services-card-sticker {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #DEC377;
  opacity: 0.4;
}

.services-card-title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.9;
}

.services-card-link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.services-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  margin-top: 25px;
}

.services-description-text {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  max-width: 770px;
  margin: 0;
}

.services-description-button {
  width: 200px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #DEC377;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: none;
}

.questions {
  padding-top: 80px;
  background-color: #fff;
  position: relative;
}

.questions-border {
  position: absolute;
  top: 47%;
  width: 1170px;
  margin: auto;
  height: 1px;
  background-color: #000000;
  opacity: 0.1;
}

.questions-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.questions-text-card {
  max-width: 470px;
  margin-right: 150px;
}

.questions-text-title {
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
}

.questions-text-description {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  margin: 0;
  margin-top: 30px;
}

.questions-answers {
  padding: 0;
  margin: 0;
  max-width: 370px;
}

.questions-answers-list {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  opacity: 0.75;
  list-style: none;
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions-answers-marker {
  padding: 15px;
  border: 1px solid rgba(222, 195, 119, 0.4);
  border-radius: 50%;
  margin-right: 30px;
}

.excellence {
  padding-top: 80px;
  padding-bottom: 100px;
}

.excellence-title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
  margin-bottom: 35px;
}

.excellence-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.excellence-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 270px;
}

.excellence-icon {
  padding: 30px;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-bottom: 25px;
}

.excellence-name {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  opacity: 0.75;
  max-width: 230px;
  height: 100px;
  margin: auto;
}

.excellence-text {
  padding: 40px 0 45px 50px;
  background-color: #ffffff;
  margin-top: 40px;
  position: relative;
}

.excellence-paragraph {
  margin: 0;
  max-width: 750px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
}

.excellence-sticker {
  position: absolute;
  right: 0;
  top: 0;
}

.cooperation-text {
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cooperation-title {
  margin: 0;
  margin-bottom: 35px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
}

.cooperation-number {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}

.cooperation-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cooperation-list {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.cooperation-description {
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.01em;
  opacity: 0.8;
}

.cooperation-contact-form {
  padding: 40px 50px 50px 50px;
  max-width: 570px;
  background-color: #fff;
}

.cooperation-name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  opacity: 0.5;
  margin-bottom: 10px;
}

.cooperation-input {
  padding: 4px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cooperation-phone {
  display: block;
  margin-top: 20px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  opacity: 0.5;
}

.cooperation-paragraph {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.5;
  margin-top: 20px;
  margin-bottom: 30px;
}

.cooperation-link {
  color: inherit;
  font-weight: bold;
}

.cooperation-button {
  width: 100%;
  height: 45px;
  background-color: #DEC377;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  border: none;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price {
  margin-top: 100px;
  position: relative;
}

.price-title {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  opacity: 0.9;
  margin-bottom: 30px;
}

.price-text {
  margin: 0;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.8;
  max-width: 670px;
}

.price-button {
  width: 200px;
  height: 45px;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #DEC377;
  border-radius: 2px;
  margin-bottom: 100px;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-requisites {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-requisites-title {
  padding-top: 49px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  opacity: 0.9;
  margin-top: 0;
  margin-bottom: 70px;
}

.footer-requisites-item {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  opacity: 0.5;
  margin-bottom: 10px;
}

.footer-requisites-span {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.5;
}

.footer-requisites-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  color: inherit;
}

.footer-requisites-text {
  margin-right: 15px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  opacity: 0.75;
}

.footer-icons {
  margin-top: 50px;
  margin-bottom: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-offices {
  width: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-offices-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 640px;
}

.footer-offices-block {
  width: 200px;
}

.footer-offices-block-margin {
  margin-right: 35px;
}

.footer-title {
  margin: 0;
  margin-top: 84px;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  text-transform: uppercase;
  opacity: 0.5;
}

.footer-title-2 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.75;
  padding-bottom: 10px;
}

.footer-title-2-bottom {
  margin-bottom: 20px;
}

.footer-name {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  opacity: 0.75;
  margin-top: 0;
  margin-bottom: 5px;
}

.footer-text {
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.8;
}

.footer-text-margin-20 {
  margin-bottom: 20px;
}

.footer-text-margin-30 {
  margin-bottom: 30px;
}

.footer-email {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.8;
  margin-bottom: 35px;
}

.footer-time {
  width: 170px;
}

.footer-bottom {
  background-color: rgba(0, 0, 0, 0.1);
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-bottom-link {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.02em;
  opacity: 0.8;
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1280px) {
  .container {
    max-width: 920px;
  }
  .logo {
    margin-right: 0;
  }
  .navbar-menu {
    width: 600px;
  }
  .articles-container {
    height: 550px;
  }
  .articles-slide {
    padding-top: 100px;
  }
  .slider-button-prev {
    left: 15%;
  }
  .slider-button-next {
    left: 25%;
  }
  .advantages {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
  .advantages-card {
    width: 23%;
  }
  .introduction-text {
    padding: 35px 50px 35px;
    overflow: hidden;
  }
  .introduction-title {
    font-size: 26px;
  }
  .introduction-paragraph {
    font-size: 12px;
    line-height: 20px;
  }
  .introduction-image {
    width: 40%;
  }
  .directions-card-name {
    font-size: 16px;
    line-height: 22px;
  }
  .directions-card-link {
    font-size: 10px;
  }
  .directions-description-title {
    font-size: 24px;
  }
  .directions-description-paragraph {
    max-width: 500px;
    max-width-font-size: 12px;
    max-width-line-height: 20px;
  }
  .gallery {
    height: 380px;
  }
  .gallery-container {
    width: 100%;
    height: 500px;
  }
  .reviews {
    padding-top: 100px;
    padding-bottom: 25px;
  }
  .reviews-title {
    font-size: 26px;
  }
  .reviews-card {
    max-width: 48%;
    overflow: hidden;
  }
  .reviews-name {
    font-size: 22px;
  }
  .reviews-text {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
  }
  .partners {
    padding-bottom: 50px;
    padding-top: 25px;
  }
  .partners-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .partners-description {
    margin-right: 0;
  }
  .stickers-card-1, .stickers-card-2 {
    width: 48%;
  }
  .stickers-title {
    font-size: 20px;
  }
  .stickers-text {
    font-size: 12px;
  }
  .services-card {
    height: 120px;
  }
  .services-card-title {
    font-size: 18px;
    line-height: 28px;
  }
  .services-description-text {
    font-size: 12px;
    line-height: 20px;
    max-width: 600px;
  }
  .excellence-title {
    font-size: 24px;
  }
  .excellence-card {
    width: 23%;
    padding: 30px 20px;
  }
  .excellence-name {
    font-size: 14px;
    line-height: 22px;
  }
  .excellence-text {
    margin-top: 20px;
  }
  .excellence-paragraph {
    font-size: 12px;
    line-height: 20px;
  }
  .cooperation-text {
    width: 48%;
  }
  .cooperation-contact-form {
    width: 48%;
  }
  .cooperation-title {
    font-size: 26px;
  }
  .cooperation-list {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .cooperation-description {
    font-size: 14px;
    line-height: 22px;
  }
  .cooperation-number {
    margin-right: 20px;
  }
  .price-title {
    font-size: 26px;
  }
  .price-text {
    font-size: 14px;
    line-height: 22px;
  }
  .questions-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .questions-text-card {
    margin-right: 0;
  }
  .footer-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-offices {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
  .footer-offices-blocks {
    width: 100%;
  }
  .footer-offices-block {
    width: 100%;
  }
  .footer-requisites {
    width: 45%;
  }
  .footer-requisites-title {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 10px;
  }
  .footer-icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .footer-time {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .navbar-menu__item {
    font-size: 12px;
  }
  .language {
    font-size: 12px;
  }
  .contacts {
    font-size: 12px;
  }
  .logo {
    margin-right: 15px;
  }
  .logo__image {
    width: 200px;
  }
  .articles-container {
    height: 450px;
  }
  .articles-title {
    max-width: 400px;
    font-size: 34px;
    line-height: 40px;
  }
  .articles-slide {
    padding-top: 85px;
  }
  .advantages-card {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 160px;
    height: 100%;
  }
  .advantages-icon {
    padding: 20px;
  }
  .advantages-description {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    height: 30px;
  }
  .introduction-title {
    max-width: 350px;
    font-size: 22px;
    line-height: 30px;
  }
  .introduction-paragraph {
    max-width: 350px;
  }
  .directions {
    margin-top: 50px;
  }
  .directions-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  .directions-card {
    padding: 15px 15px 15px 30px;
    margin-bottom: 20px;
    height: 100%;
  }
  .directions-card-name {
    font-size: 12px;
    line-height: 20px;
  }
  .directions-right {
    padding: 15px;
  }
  .directions-description {
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .directions-description-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
  }
  .directions-description-paragraph {
    max-width: 100%;
    font-size: 12px;
    line-height: 20px;
  }
  .reviews-card {
    padding: 120px 30px 50px 30px;
  }
  .partners-description {
    max-width: 450px;
  }
  .gallery {
    height: 270px;
  }
  .gallery-container {
    width: 100%;
    height: 100%;
  }
  .reviews-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .stickers {
    padding-top: 50px;
  }
  .stickers-card {
    padding: 30px;
    height: 280px;
  }
  .stickers-card-3 {
    height: 170px;
  }
  .stickers-title {
    line-height: 30px;
  }
  .stickers-text {
    line-height: 20px;
  }
  .pen {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .services-title {
    font-size: 22px;
    line-height: 30px;
  }
  .services-card {
    height: 90px;
    padding: 15px 15px 15px 85px;
  }
  .services-card-title {
    font-size: 12px;
    line-height: 20px;
  }
  .services-card-link {
    font-size: 10px;
  }
  .services-description {
    margin-bottom: 50px;
  }
  .services-description-text {
    max-width: 450px;
  }
  .questions {
    padding-top: 50px;
  }
  .questions-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 50px;
  }
  .questions-text-card {
    max-width: 100%;
  }
  .questions-text-title {
    font-size: 22px;
    line-height: 30px;
  }
  .questions-text-description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 20px;
  }
  .questions-answers {
    max-width: 100%;
  }
  .questions-answers-list {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .questions-border {
    display: none;
  }
  .excellence {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .excellence-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .excellence-name {
    font-size: 12px;
    line-height: 20px;
  }
  .excellence-icon {
    padding: 20px;
    margin-bottom: 20px;
  }
  .excellence-paragraph {
    max-width: 95%;
  }
  .excellence-text {
    padding: 25px;
  }
  .excellence-sticker {
    width: 10%;
  }
  .cooperation-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .cooperation-list {
    font-size: 12px;
    line-height: 20px;
  }
  .cooperation-description {
    font-size: 12px;
    line-height: 20px;
  }
  .cooperation-contact-form {
    padding: 30px;
  }
  .cooperation-name {
    font-size: 12px;
    line-height: 20px;
  }
  .cooperation-input {
    font-size: 12px;
    line-height: 20px;
  }
  .cooperation-phone {
    font-size: 12px;
    line-height: 20px;
  }
  .cooperation-paragraph {
    font-size: 12px;
    line-height: 20px;
  }
  .price {
    margin-top: 50px;
  }
  .price-title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .price-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .price-button {
    margin-bottom: 30px;
  }
  .footer-requisites-title {
    padding-top: 30px;
    font-size: 22px;
    line-height: 30px;
  }
  .footer-requisites-item {
    font-size: 12px;
    line-height: 20px;
  }
  .footer-requisites-link {
    margin-bottom: 15px;
  }
  .footer-title {
    margin-top: 60px;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footer-title-2 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .footer-icons {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer-name {
    font-size: 12px;
    line-height: 20px;
  }
  .footer-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .footer-email {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  body {
    padding-top: 145px;
  }
  .container {
    max-width: 576px;
    width: 92%;
  }
  .visually-impaired-link {
    display: none;
  }
  .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 200px;
  }
  .navbar-menu {
    display: none;
  }
  .navbar-menu__item--mobile--visible {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .navbar-menu--visible {
    display: block;
    position: fixed;
    left: 0;
    top: 145px;
    right: 0;
    bottom: 0;
    background-color: #fff;
    text-align: center;
    width: 100%;
    overflow: scroll;
  }
  .navbar-mobile-fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99;
  }
  .navbar-bottom {
    padding-top: 0;
  }
  .navbar-bottom-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 16px;
    height: 11px;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: black;
  }
  .articles-title {
    font-size: 22px;
    line-height: 30px;
  }
  .articles-slide {
    padding-top: 35px;
  }
  .articles-description {
    max-width: 250px;
    margin-bottom: 20px;
  }
  .articles-container {
    height: 300px;
  }
  .articles-button {
    font-size: 12px;
    line-height: 20px;
    width: 165px;
    height: 40px;
  }
  .advantages {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    margin-top: 15px;
  }
  .advantages-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advantages-card {
    width: 48%;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .advantages-icon {
    padding: 15px;
    margin-bottom: 15px;
  }
  .slider-button {
    bottom: 7%;
  }
  .introduction-text {
    padding: 20px;
  }
  .introduction-image {
    opacity: 0.2;
  }
  .introduction-title {
    max-width: 100%;
  }
  .introduction-paragraph {
    max-width: 100%;
  }
  .directions {
    margin-top: 30px;
  }
  .directions-card {
    width: 48%;
  }
  .gallery {
    height: 200px;
  }
  .reviews {
    padding-top: 15%;
  }
  .reviews-card {
    padding: 65px 20px 20px 20px;
  }
  .reviews-image {
    width: 100%;
    height: 25%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .reviews-profession {
    margin-top: 15px;
  }
  .reviews-name {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .reviews-text {
    -webkit-line-clamp: 6;
  }
  .partners-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .partners-description {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .stickers-card {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stickers-title {
    width: 25%;
  }
  .stickers-text {
    width: 70%;
  }
  .services-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 75px;
    margin-bottom: 15px;
    padding: 10px 10px 10px 85px;
  }
  .services-description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
  .services-description-text {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .questions {
    padding-top: 20px;
  }
  .excellence {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .excellence-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .excellence-card {
    width: 48%;
    margin-bottom: 20px;
    padding: 15px;
  }
  .excellence-name {
    height: 65px;
  }
  .excellence-text {
    margin-bottom: 0;
    padding: 15px;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cooperation-text {
    width: 100%;
    margin-bottom: 20px;
  }
  .cooperation-contact-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .directions-button {
    width: 100%;
  }
  .gallery {
    height: 100%;
    padding-bottom: 15px;
  }
  .gallery-button-prev {
    left: 10px;
  }
  .gallery-button-next {
    right: 10px;
  }
  .reviews {
    padding-top: 15px;
  }
  .reviews-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reviews-card {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .reviews-text {
    -webkit-line-clamp: 2;
  }
  .reviews-button-all {
    width: 100%;
    margin-top: 20px;
  }
  .reviews-button-prev {
    left: 20%;
  }
  .reviews-button-next {
    right: 20%;
  }
  .reviews-pagination {
    display: none;
  }
  .partners-button {
    width: 100%;
  }
  .stickers-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stickers-card-3 .stickers-title {
    width: 100%;
  }
  .stickers-card-3 .stickers-text {
    width: 100%;
  }
  .stickers-title {
    width: 100%;
  }
  .stickers-text {
    width: 100%;
  }
  .services-description-button {
    width: 100%;
  }
  .excellence-name {
    height: 100%;
  }
  .price-button {
    width: 100%;
  }
  .footer-requisites-arrow {
    display: none;
  }
  .footer-offices-blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 360px) {
  .articles-slide {
    padding-top: 20px;
  }
  .articles-image {
    height: 60%;
  }
  .articles-title {
    width: 80%;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .articles-description {
    width: 70%;
    font-size: 12px;
    line-height: 20px;
  }
  .articles-button {
    position: absolute;
    bottom: 20%;
    width: 100%;
  }
  .slider-button-prev {
    left: 40%;
  }
  .slider-button-next {
    left: 60%;
  }
  .directions-card {
    width: 100%;
  }
  .footer-requisites {
    width: 100%;
  }
  .footer-time {
    width: 100%;
  }
  .footer-title {
    margin-top: 20px;
  }
}
