.footer  
  border-top: 1px solid rgba(0, 0, 0, 0.1)
  &-wrapper
    display: flex
    justify-content: space-between
  &-requisites
    width: 270px
    display: flex
    flex-direction: column
    &-title
      padding-top: 49px
      font-style: normal
      font-weight: normal
      font-size: 20px
      line-height: 30px
      opacity: 0.9
      margin-top: 0
      margin-bottom: 70px
    &-item
      font-style: normal
      font-weight: 500
      font-size: 13px
      line-height: 20px
      letter-spacing: 0.01em
      opacity: 0.5
      margin-bottom: 10px
    &-span
      font-family: 'Lato Light', sans-serif
      font-size: 13px
      line-height: 20px
      opacity: 0.5
      text-decoration: none
      color: inherit
    &-link
      display: flex
      align-items: center
      margin-bottom: 30px
      text-decoration: none
      color: inherit
    &-text
      margin-right: 15px
      font-family: 'Lato Semibold', sans-serif
      font-size: 12px
      line-height: 20px
      letter-spacing: 0.02em
      text-transform: uppercase
      opacity: 0.75
  &-icons
    margin-top: 50px
    margin-bottom: 51px
    display: flex
    justify-content: space-between
  &-offices
    width: 640px
    display: flex
    flex-direction: column
    &-blocks
      display: flex
      justify-content: space-between
      width: 640px
    &-block
      width: 200px
      &-margin
        margin-right: 35px
  &-title
    margin: 0
    margin-top: 84px
    flex-basis: 100%
    padding-bottom: 5px
    margin-bottom: 30px
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    font-family: 'Lato Regular', sans-serif
    font-size: 15px
    line-height: 25px
    text-transform: uppercase
    opacity: 0.5
    &-2
      margin: 0
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 25px
      letter-spacing: 0.04em
      text-transform: uppercase
      opacity: 0.75
      padding-bottom: 10px
      &-bottom
        margin-bottom: 20px
  &-name
    font-style: normal
    font-weight: 500
    font-size: 13px
    line-height: 20px
    letter-spacing: 0.01em
    opacity: 0.75
    margin-top: 0
    margin-bottom: 5px
  &-text
    margin: 0
    margin-bottom: 5px
    font-family: 'Lato Light', sans-serif
    font-size: 13px
    line-height: 20px
    opacity: 0.8
    &-margin
      &-20
        margin-bottom: 20px
      &-30
        margin-bottom: 30px
    &-link
      text-decoration: none
      color: inherit
  &-email
    display: block
    font-style: normal
    font-weight: normal
    font-size: 13px
    line-height: 20px
    opacity: 0.8
    margin-bottom: 35px
  &-time
    width: 170px
  &-bottom
    background-color: rgba(0, 0, 0, 0.1)
    height: 55px
    display: flex
    align-items: center
    justify-content: center
    &-link
      font-family: 'Lato Light', sans-serif
      font-size: 12px
      line-height: 20px
      letter-spacing: 0.02em
      opacity: 0.8
      text-decoration: none
      color: inherit

